<li>
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        <small>
            <a href="/comments/destroy/<%= comment.id %>">X</a>
        </small>
        <% } %>
        <%= comment.content %>
        <% if (locals.user && locals.user.id == post.user.id){ %>
        <a href="/likes/toggle/?id=<%=comment._id%>&type=Comment"><%=comment.likes.length%></a>
        <%}%>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>    

</li>