<link rel="stylesheet" href="/css/user_profile.css">


<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100" >
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="profile pic" >
        <input type="submit"  value="Update">
    </form>

    <form action="/posts/postpic" enctype="multipart/form-data" method="POST">
        <input type="file" name="postpic">
        <input type="text" name="content" placeholder="add caption">
        <input type="submit" value="post">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100" >
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <a href="/users/friends/?id=<%=profile_user.id%>"><button><%=cur%></button></a>
<%} %>

<%for(i of allpostpics){%>
      <img src="<%=i.postpic%>" alt="" width="100">
      <p><%=i.content%></p>
<%}%>
