<li id="post-<%= post._id %>">
    <p>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
        </small>
        <%= post.content %>
            <br>
            <small>
                <img src="<%=post.user.avatar%>" style="width:50px;border-radius: 50%;" alt="">
                <%= post.user.name %>
            </small>

            <small>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>"
                    href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> Likes
                </a>
            </small>

    </p>
    <div class="post-comments">
        <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
            <input type="text" name="content" placeholder="Type Here to add comment..." required>
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>

                    <%- include('_comment') -%>


                        <%} %>
            </ul>
        </div>
    </div>

</li>





<li class="post-item" id="post-<%= post._id %>">
    <p>
    <div class="dropdown">
        <span class="dropdown-toggle">&#8942;</span>
        <div class="dropdown-content">
            <a  class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
        </div>
    </div>
    <small>
        <img src="<%=user.avatar%>" alt="" class="avatar">
        <span class="post-author"><%=post.user.name%></span>
    </small>
    <br>
    <%=post.content%>
    <br>
    <small>
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
            <span class="like-wrapper">
                <span class="love-symbol">&#10084;</span>
                <span class="like-count"><%= post.likes.length %></span>
            </span>
        </a>
    </small>
    <span class="arrow-down" id="comment-list-1-arrow">&#8681;</span>
    <span class="comment-text-small">Comments</span>
    </p>



    <!-- <div class="post-comments">
        <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
            <div class="comment-input">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <button type="submit" class="comment-submit-button">&#10148;</button>
            </div>
            <input type="hidden" name="post" value="<%= post._id %>">
        </form>

        <ul class="comment-list" id="comment-list-1">
            <li class="comment-item">
                <div class="dropdown">
                    <span class="dropdown-toggle">&#8942;</span>
                    <div class="dropdown-content">
                        <a href="/comments/destroy/<%= comment.id %>">Delete</a>
                    </div>
                </div>
                <small>
                    <img src="../uploads/users/postpics/postpic-1689359031618-9655963" alt=""
                        class="avatar">
                    <span class="comment-author">Saicharan</span>
                </small>
                <br>
                <span class="comment-text">This is a Comment</span>
                <br>
                <small>
                    <a class="toggle-like-button" data-likes="100"
                        href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                        <span class="like-wrapper">
                            <span class="love-symbol">&#10084;</span>
                            <span class="like-count">100</span>
                        </span>
                    </a>
                </small>
            </li>
        </ul>
    </div> -->
</li>